.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-radius: 5px;
    padding: 20px;
  }
  
  .dropzone {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    outline: none;
  }
  
  .dropzone p{
    font-family: 'Sora', sans-serif;
    margin-top: 20px;
    font-weight: 800;
    font-size: 30px;
  }
  
  .instructions{
    position: relative;
    top: 50%;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #161621;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  #upload{
    position:relative;
    top: 10vh;
    max-width: 25%;
    height: auto;
  }
  
  #acceptfiles{
    position:relative;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Sora', sans-serif;
    /* font-family: var(--font); */
    top: 20vh;
  }
  
  #rejectfiles{
    position: relative;
    font-weight: 600;
    font-size: 28px;
    font-family: 'Sora', sans-serif;
    top: 30vh;
  }