.MuiTableRow-root > * {
    padding: 10px;
  }

  .subTitle {
    margin-bottom: 1rem;
  }
  
  .MuiTableRow-root.MuiTableRow-head > * {
    font-weight: bold !important;
  }

  .Table td,
  th {
    border: none !important;
    font-family: 'Sora', sans-serif;
    background-color: #f2f9ff;

  }
  
  .Table:first-child {
    border-radius: 0.7rem !important;
  }
  .status {
    padding: 8px;
    border-radius: 6px;
  }

  .Details button {
    border-radius: 4px;
    background: #256ce1;
    padding: 10px 22px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
    text-decoration: none;
    transform: translate(0px, -10px)
  }

  .Details button:hover {
    transition: all 0.2s ease-in-out;
    background: #96cbfa;
    color: #010606;
  }

  #PayTable {
    display: none;
  }

  #card, #month, #year, #cvv {
    margin: 0px;
    transform: translate(0px, -10px);
    background-color: rgba(167, 189, 242, 0.3);
  }

  #card {
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
  }

  #month {
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
  }

  #year {
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
  }

  #cvv {
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
  }


  @media screen and (max-width: 1200px) {
    .Table {
      width: 170%;
      margin-top: 2rem;
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .Table{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 23rem;
    }
  }